<table width="100%">
  <col width="70%">
  <col width="30%">
  <tr align="center">
    <td colspan="2">
    <h3>Web API Tester</h3>
    <hr style="background-color: white"/>
    </td>
  </tr>
  <tr>
    <td style="align-content: center">
    <div class="col-md-12">
      <form autocomplete="off">

        <div  class="form-group">
            <label>Environment:</label>
            <select class="form-control"  (change)="selectItem($event.target.value)" [ngModel]="currentEnv" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let env of envs" [ngValue]="env" [selected]="env.envName===currentEnv.envName">{{env.envName}}</option>
            </select>
        </div>

        <span class="form-group" >
          <label for="userName">User Name:</label>
          <input id="userName" type="text" class="form-control" (ngModel)="selectedUser" value={{currentEnv.user}} placeholder="User Name..." />

        </span>
        <span class="form-group" >
          <label for="password">Password:</label>
          <input id="password" type="text" class="form-control" (ngModel)="selectedPassword" value={{currentEnv.password}} placeholder="Password..." />
        </span>
        <div>
            <label for="serverURL">Server URL:</label>
            <input id="serverURL" type="text" class="form-control" value={{currentEnv.envServerUrl}} placeholder="Server URL..." />
        </div>
        <div class="form-group" style="margin-top:20px">
          <label>Call:</label>
          <span style="margin-left: 20px">
            <mat-radio-group aria-label="callType" [(ngModel)]="callType" (change)="callTypeChange($event)" [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="get">Get</mat-radio-button>
              <mat-radio-button value="post">Post</mat-radio-button>
              <mat-radio-button value="put">Put</mat-radio-button>
            </mat-radio-group>
          </span>
           <select class="form-control"  *ngIf="callType == 'get'" (change)="selectGetApi($event.target.value)" [(ngModel)]="selectedGetApi" [ngModelOptions]="{standalone: true}" >
                <option *ngFor="let getCall of getCallList" [value]="getCall" >{{getCall}}</option>
           </select>
          <select class="form-control"  *ngIf="callType == 'post'"  (change)="selectPostApi($event.target.value)" [(ngModel)]="selectedPostApi" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let postCall of postCallList" [ngValue]="postCall">{{postCall.url}}</option>
          </select>
          <select class="form-control"  *ngIf="callType == 'put'"  (change)="selectPutApi($event.target.value)"  [(ngModel)]="selectedPutApi" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let putCall of putCallList" [ngValue]="putCall">{{putCall.url}}</option>
          </select>
        </div>

      </form>
    </div>
    </td>

  </tr>
</table>
<table width="100%">
    <col width="91%"/>
    <col width="9%"/>
    <td>
        <div  style="margin: 15px;">
            <label>Api call:</label>
            <input id="call" type="text" class="form-control" style="background-color:chocolate; color: white" [(ngModel)]="selectedApi"  [ngModelOptions]="{standalone: true}"/>
        </div>
    </td>
    <td>
      <div class="form-group" >
          <button class="button button2" (click)="callGet()" style="vertical-align:top;">Send</button>
      </div>
  </td>
</table>

<table style="width:100%">
  <tr>
    <td>
      <div class="form-group" style="margin: 15px;" *ngIf="callType != 'get'">
          <label>Body:</label>
          <textarea *ngIf="displayFormat == '1'" [(ngModel)]="selectedBody" style="background-color:chocolate; color: white" #txtBody class="form-control" rows="29"></textarea>
      </div>

    </td>
    <td>
      <div class="form-group" style="margin: 15px;">
        <label>Results:</label>
        <span style="margin-left: 20px">
          <mat-radio-group aria-label="Format" [(ngModel)]="displayFormat">
            <mat-radio-button value="1">Json string</mat-radio-button>
            <mat-radio-button value="2">Item List</mat-radio-button>
            <mat-radio-button value="3">JSON View</mat-radio-button>
          </mat-radio-group>
        </span>
        <textarea *ngIf="displayFormat == '1'" [(ngModel)]="response" #txtResult class="form-control" rows="29"></textarea>
        <div *ngIf="displayFormat == '2'" style="background-color: white; color:black">
          <li *ngFor="let obj of responseInObj">{{obj | json}}</li>
        </div>
        <ngx-json-viewer *ngIf="displayFormat == '3'" [json]="response" [expanded]="false"></ngx-json-viewer>
      </div>
    </td>
  </tr>

</table>





